<% modal ||= false %>
<% remote = modal ? true : false %>
  <%= form_for(@team, remote: remote, html: { role: :form, 'data-model' => 'team'}) do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'School', class: 'control-label' %><br>
      <% if current_user.admin? %>
        <%= f.collection_select :id, Team.order(:name), :id, :name, include_blank: true %><br>
      <% else %>
        <%= f.text_field :name, readonly: true, class: 'form-control' %>
      <% end %>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label :section, class: 'control-label' %><br>
      <%= f.text_field :section, class: 'form-control' %>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label :coach, class: 'control-label' %><br>
      <%= f.text_field :coach, class: 'form-control' %>
      <span class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label :cell, class: 'control-label' %><br>
      <%= f.text_field :cell, class: 'form-control' %>
      <span class="help-block"></span>
    </div>

    <div class="form-actions">
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>