
<div class="team-name">
  <h1>Teams</h1>
  <p>
    Download:
      <%= link_to "CSV", teams_path(format: "csv") %> |
      <%= link_to "Excel", teams_path(format: "xls") %>
  </p>
</div>
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th class="col-md-1">Team Name</th>
        <th class="col-md-1">Section</th>
        <th class="col-md-1">Coach</th>
        <th class="col-md-1">Cell</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <%= render partial: '/shared/table_row', locals: { team: team } %>
      <% end %>
    </tbody>
  </table>

<div class="team">
  <% if current_user.admin? %>
    <button type="button" class="btn btn-default"><%= link_to 'Add Team', '#new_team_modal', 'data-toggle' => 'modal' %></button>

    <div class="modal fade" id="new_team_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create new team</h4>
          </div>
          <div class="modal-body">
            <%= render 'form', modal: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




