<div class="table">
<tr>
  <td><%= @team.name %></td><br>
  <td><%= @team.coach %></td><br>
  <td><%= @team.section %></td><br>
  <td><%= @team.cell %></td><br>
  <td><button type="button" class="btn btn-default"><%= link_to 'View Roster', team_wrestlers_path(@team) %></button></td>
</tr>
</div>
