<div class="team-name">

<h2><%= @user.school.upcase %></h2>

<%= render partial: 'users/tournaments/index', locals: { user: @user, tournaments: @tournaments } %>


  <h3>WRESTLERS</h3>

    Download:
      <%= link_to "CSV", user_wrestlers_path(format: "csv") %> |
      <%= link_to "Excel", user_wrestlers_path(format: "xls") %>
      <% if current_user.admin? || current_user.id == @user.id %> |

        <%= link_to 'ADD WRESTLER', '#new_user_wrestler_modal', 'data-toggle' => 'modal' %>
      <% end %>
  </p>
</div>
<div class="container" ng-view="">
<div class="row">
    <div class="panel ">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="wrestlers_table">
            <thead>
              <tr>
                <th>Wt</th>
                <th>School</th>
                <th>First</th>
                <th>Last</th>
                <th>YR</th>
                <th>W</th>
                <th>L</th>
                <th>SEC</th>
                <th>ST</th>
                <th>T1</th>
                <th>T2</th>
                <th>T3</th>
                <th>T4</th>
                <th>T5</th>
                <th>T6</th>
                <th>T7</th>
                <th>T8</th>
                <% if current_user.admin? || current_user.id == @user.id %>
                  <th>Comments</th>
                  <th class="col-md-0">Edit Wrestler</th>
                  <th class="col-md-0">Delete Wrestler</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @wrestlers.each do |wrestler, user| %>
                <%= render partial: '/users/wrestlers/table_row', locals: { wrestler: wrestler, user: user} %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<div class="add_wrestler_button">
  <% if current_user.admin? || current_user.id == @user.id %>
    <h3><button type="button" class="btn-large btn-default"><%= link_to 'ADD WRESTLER', '#new_user_wrestler_modal', 'data-toggle' => 'modal' %></button></h3><br><br><br>
  <% end %>
</div>
<div class="modal fade" id="new_user_wrestler_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Wrestler</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>