   <div id="nav">
      <h4><%= link_to "2014", "http://msjwrestlingtournament.com/Results/MSJ2014All.pdf" %></h4>
      <h4><%= link_to "2013", "http://msjwrestlingtournament.com/Results/MSJ2013.pdf" %></h4>
      <h4><%= link_to "2012", "http://msjwrestlingtournament.com/Results/MSJ2012.pdf" %></h4>
      <h4><%= link_to "2011", "http://msjwrestlingtournament.com/Results/MSJ2011.pdf" %></h4>
       <h4><%= link_to "2010", "http://msjwrestlingtournament.com/Results/MSJ2010.pdf" %></h4>
     <h4><%= link_to "2009", "http://msjwrestlingtournament.com/Results/MSJ2009.pdf" %></h4>
      <h4><%= link_to "2008", "http://msjwrestlingtournament.com/Results/MSJ2008.pdf" %></h4>
      <h4><%= link_to "2007", "http://msjwrestlingtournament.com/Results/MSJ2007.pdf" %></h4>
     <h4><%= link_to "2006", "http://msjwrestlingtournament.com/Results/MSJ2006.pdf" %></h4>
     <h4><%= link_to "2005", "http://msjwrestlingtournament.com/Results/MSJ2005.pdf" %></h4>
     <h4><%= link_to "2004", "http://msjwrestlingtournament.com/Results/MSJ2004.pdf" %></h4>
     <h4><%= link_to "2003", "http://msjwrestlingtournament.com/Results/MSJ2003.pdf" %></h4>
     <h4><%= link_to "2002", "http://msjwrestlingtournament.com/Results/MSJ2002.pdf" %></h4>
     <h4><%= link_to "2001", "http://msjwrestlingtournament.com/Results/MSJ2001.pdf" %></h4>
     <h4><%= link_to "2000", "http://msjwrestlingtournament.com/Results/MSJ2000.pdf" %></h4>
     <h4><%= link_to "1999", "http://msjwrestlingtournament.com/Results/MSJ1999.pdf" %></h4>
     <h4><%= link_to "1998", "http://msjwrestlingtournament.com/Results/MSJ1998.pdf" %></h4>
     <h4><%= link_to "1997", "http://msjwrestlingtournament.com/Results/MSJ1997.pdf" %></h4>
     <h4><%= link_to "1996", "http://msjwrestlingtournament.com/Results/MSJ1996.pdf" %></h4>
     <h4><%= link_to "1995", "http://msjwrestlingtournament.com/Results/MSJ1995.pdf" %></h4>
     <h4><%= link_to "1994", "http://msjwrestlingtournament.com/Results/MSJ1994.pdf" %></h4>
     <h4><%= link_to "1993", "http://msjwrestlingtournament.com/Results/MSJ1993.pdf" %></h4>
      </div>

  </div>