<nav class="navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm" role="navigation">
  <div class="ncs-brackets">
    hosted by JAMES LOGAN HIGH SCHOOL, Union City<br>
  <div class="row">
  <div class="col-xs-4 ">
    <a><%= link_to '2015 SEEDS  ', information_seeds_path %></a>
  </div>
  <div class="col-xs-4 ">
    <a><%= link_to '  2015 SCHEDULE  ', "http://cifncs.org/sports/wrestling/files/2015%20NCS%20Schedule%20-%20Semis%202%20Mat.pdf" %></a>
  </div>
  <div class="col-xs-4 ">

    <a><%= link_to '  2014 BRACKETS', asset_path("2014brackets.pdf"), :class => "links" %></a>
  </div>


  <div class="container">

    <div id="nav">
    </div>
  </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom visible-xs visible-sm" role="navigation">
  <div class="ncs-brackets-footer">
    hosted by JAMES LOGAN HIGH SCHOOL<br>
  <div class="row">
  <div class="col-xs-4 ">
    <a><%= link_to 'SEEDS  ', information_seeds_path %></a>
  </div>
  <div class="col-xs-4 ">
    <a><%= link_to 'SCHEDULE  ', "http://cifncs.org/sports/wrestling/files/2015%20NCS%20Schedule%20-%20Semis%202%20Mat.pdf" %></a>
  </div>
  <div class="col-xs-4 ">

    <a><%= link_to '2014 RESULTS', asset_path("2014brackets.pdf"), :class => "links" %></a>
  </div>


  <div class="container">

    <div id="nav">
    </div>
  </div>
</nav>