<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <div id="nav">
      <a><%= link_to "About", information_about_path %></a>
      <a><%= link_to "Teams Entered", information_teams_path %></a>
      <a><%= link_to "Entry Information", information_entry_information_path %></a>
      <a><%= link_to "2015 Schedule", information_schedule_path %></a>
       <!-- <a><%= link_to "Map to MSJ", information_map_to_msj_path %></a>
     <a><%= link_to "2014 Place Winners", information_place_winners_2014_path %></a>
      <a><%= link_to "Hotel Info", information_hotels_path %></a>
      <a><%= link_to "Full Results & Brackets - Prior Years", information_results_prior_years_path %></a>
 -->      <a><%= link_to "Champions by weight class 1990-2013", information_champions_1990_to_2013_path %></a>
      </div>
      <h4>The last BIG test before Bakersfield!</h4>
  </div>
</nav>