<tr>
  <td><%= team.name %></td>
  <td><%= team.section %></td>
  <td><%= team.coach %></td>
  <td><%= team.cell %></td>
  <td><%= link_to 'View Team', team_path(team)%></td>
  <td><%= link_to 'Edit', edit_team_path(team)%></td>
  <% if current_user.admin? %>
    <td><%= link_to 'Delete', team, method: "delete", :data => {:confirm => 'Are you sure?'} %></td>
  <% end %>
  </td>
</tr>