<tr>
  <td><%= wrestler.weight %></td>
  <td><%= wrestler.school %></td>
  <td><%= wrestler.first_name %></td>
  <td><%= wrestler.last_name %></td>
  <td><%= wrestler.grade %></td>
  <td><%= wrestler.wins %></td>
  <td><%= wrestler.losses %></td>
  <td><%= wrestler.section_place %></td>
  <td><%= wrestler.state_place %></td>
  <td><%= wrestler.tourney1_place %></td>
  <td><%= wrestler.tourney2_place %></td>
  <td><%= wrestler.tourney3_place %></td>
  <td><%= wrestler.tourney4_place %></td>
  <td><%= wrestler.tourney5_place %></td>
  <td><%= wrestler.tourney6_place %></td>
  <td><%= wrestler.tourney7_place %></td>
  <td><%= wrestler.tourney8_place %></td>
  <td><%= wrestler.comments %></td>
  <% if current_user.admin?  %>
    <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
    <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %></td>
  <% end %>
  </td>
</tr>