<div class="border-wrestler-div">
  <% modal ||= false %>
  <% remote = modal ? true : false %>
    <%= form_for([@team, @wrestler], remote: remote, html: { role: :form, 'data-model' => 'wrestler'}) do |f| %>
      <% if @wrestler.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wrestler.errors.count, "error") %> prohibited this wrestler from being saved:</h2>

          <ul>
          <% @wrestler.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
          <div class="form-group">
            <%= f.label :weight, class: 'col-sm-2 control-label' %>
            <div class="col-sm-2">
              <%= f.text_field :weight, class: 'form-control' %><br>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="form-group">
         <%= f.label :first, class: 'col-sm-2 control-label' %>
            <div class="col-sm-4">
              <%= f.text_field :first_name, class: 'form-control' %><br>
            </div>
          <%= f.label :last, class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.text_field :last_name, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :grade, "Grade (9-12)", class: 'col-sm-2 control-label' %>
            <div class="col-sm-2">
              <%= f.text_field :grade, class: 'form-control' %><br>
            </div>
          <%= f.label :wins, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :wins, class: 'form-control' %>
          </div>
          <%= f.label :losses, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :losses, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :section_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :section_place, class: 'form-control' %>
          </div>
          <%= f.label :state_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :state_place, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :t1_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney1_place, class: 'form-control' %>
          </div>
          <%= f.label :t2_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney2_place, class: 'form-control' %>
          </div>
          <%= f.label :t3_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney3_place, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :t4_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney4_place, class: 'form-control' %>
          </div>
          <%= f.label :t5_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney5_place, class: 'form-control' %>
          </div>
          <%= f.label :t6_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney6_place, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :t7_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney7_place, class: 'form-control' %>
          </div>
          <%= f.label :t8_place, class: 'col-sm-2 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :tourney8_place, class: 'form-control' %><br>
          </div>
        </div>
        <%= f.hidden_field :team_id, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :notable_wins, class: 'control-label' %><br>
        <%= f.text_area :comments, class: 'form-control' %>
        <span class="help-block"></span>
      </div>

      <div class="form-actions">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>