<div class="team-name">
  <h4><%= @team.name %></h4>
  <p>
    Download:
      <%= link_to "CSV", team_wrestlers_path(format: "csv") %> |
      <%= link_to "Excel", team_wrestlers_path(format: "xls") %>
  </p>
</div>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>School</th>
      <th>Wt</th>
      <th>First</th>
      <th>Last</th>
      <th>YR</th>
      <th>W</th>
      <th>L</th>
      <th>SEC</th>
      <th>ST</th>
      <th>T1</th>
      <th>T2</th>
      <th>T3</th>
      <th>T4</th>
      <th>T5</th>
      <th>T6</th>
      <th>T7</th>
      <th>T8</th>
      <% if current_user.admin? %>
        <th>Comments</th>
        <th class="col-md-0"></th>
        <th class="col-md-0"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @wrestlers.each do |wrestler, team| %>
      <%= render partial: '/teams/wrestlers/table_row', locals: { wrestler: wrestler, team: team} %>
    <% end %>
  </tbody>
</table>

<div class="add_wrestler_button">
  <button type="button" class="btn btn-default"><%= link_to 'Add Wrestler', '#new_team_wrestler_modal', 'data-toggle' => 'modal' %></button>
</div>
<div class="modal fade" id="new_team_wrestler_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Wrestler</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
