

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/wrestling15.jpg", alt="...">
    </div>

    <div class="item">
      <img src="/assets/ncspic1.jpg", alt="...">
      <div class="carousel-caption">PJ KLEE / Cardinal Newman<br>2014 - NCS CHAMPION<br>CIF STATE RUNNER UP<br>152 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic3.jpg" alt="...">
      <div class="carousel-caption">CLAYTON HARTWELL / James Logan<br>2014 - NCS Champion / 4th CIF State - 195 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic5.jpg" alt="...">
      <div class="carousel-caption">TOMMY YAZZO / Amador<br>2014 - NCS Runner Up / 7th CIF State - 132 lbs </div>
    </div>

    <div class="item">
      <img src="/assets/ncspic4.jpg" alt="...">
      <div class="carousel-caption">JACOB DONATO / James Logan<br>2014 - NCS Champion / 4th CIF State - 120 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic8.jpg" alt="...">
      <div class="carousel-caption">PABLO GONZALEZ / Ukiah<br>2014 - NCS Champion / 4th CIF State - 285 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic6.jpg" alt="...">
      <div class="carousel-caption">JACOB MACALOLOOY / James Logan<br>2014 - NCS Champion / 7th CIF State - 138 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic2.jpg" alt="...">
      <div class="carousel-caption">NATHAN MORRIS / Redowood<br>2014 - NCS Champion / 6th CIF STATE - 182 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic7.jpg" alt="...">
      <div class="carousel-caption">QUENTIN WRIGHT / Alhambra<br>2014 - NCS Champion / 7th CIF State - 220 lbs</div>
    </div>



  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

  </a>
</div> <!-- Carousel --><br><br>


<div class="container">
  <div class="brackets">
    <div id="nav">
    <a><%= link_to 'ALL BRACKETS', "https://dl.dropboxusercontent.com/u/61981544/all.pdf" %></a>
    <a><%= link_to '106', "https://dl.dropboxusercontent.com/u/61981544/106.pdf" %></a>
    <a><%= link_to '113', "https://dl.dropboxusercontent.com/u/61981544/113.pdf" %></a>
    <a><%= link_to '120', "https://dl.dropboxusercontent.com/u/61981544/120.pdf" %></a>
    <a><%= link_to '126', "https://dl.dropboxusercontent.com/u/61981544/126.pdf" %></a>
    <a><%= link_to '132', "https://dl.dropboxusercontent.com/u/61981544/132.pdf" %></a>
    <a><%= link_to '138', "https://dl.dropboxusercontent.com/u/61981544/138.pdf" %></a>
    <a><%= link_to '145', "https://dl.dropboxusercontent.com/u/61981544/145.pdf" %></a>
    <a><%= link_to '152', "https://dl.dropboxusercontent.com/u/61981544/152.pdf" %></a>
    <a><%= link_to '160', "https://dl.dropboxusercontent.com/u/61981544/160.pdf" %></a>
    <a><%= link_to '170', "https://dl.dropboxusercontent.com/u/61981544/170.pdf" %></a>
    <a><%= link_to '182', "https://dl.dropboxusercontent.com/u/61981544/182.pdf" %></a>
    <a><%= link_to '195', "https://dl.dropboxusercontent.com/u/61981544/195.pdf" %></a>
    <a><%= link_to '220', "https://dl.dropboxusercontent.com/u/61981544/220.pdf" %></a>
    <a><%= link_to '285', "https://dl.dropboxusercontent.com/u/61981544/285.pdf" %></a>

     <a><%= link_to "Team Scores & Placers", "https://dl.dropboxusercontent.com/u/61981544/team.pdf" %></a>
</div><br><br><br><br>
</div>
</div>