

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/tourney_logo.jpg", alt="...">
    </div>
    <div class="item">
      <img src="/assets/MJSSemiPhoto.jpg", alt="...">
    </div>
    <div class="item">
      <img src="/assets/pic1.jpg" alt="...">
    </div>
     <div class="item">
      <img src="/assets/pic2.jpg" alt="...">
    </div>
     <div class="item">
      <img src="/assets/pic3.jpeg" alt="...">
    </div>
    <div class="item">
      <img src="/assets/msj_sign.jpg" alt="...">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

  </a>
</div> <!-- Carousel --><br><br>

<div class="container">

    <div id="nav">
    BRACKETS
    <a><%= link_to '106', "https://dl.dropboxusercontent.com/u/61981544/106.pdf" %></a>
    <a><%= link_to '113', "https://dl.dropboxusercontent.com/u/61981544/113.pdf" %></a>
    <a><%= link_to '120', "https://dl.dropboxusercontent.com/u/61981544/120.pdf" %></a>
    <a><%= link_to '126', "https://dl.dropboxusercontent.com/u/61981544/126.pdf" %></a>
    <a><%= link_to '132', "https://dl.dropboxusercontent.com/u/61981544/132.pdf" %></a>
    <a><%= link_to '138', "https://dl.dropboxusercontent.com/u/61981544/138.pdf" %></a>
    <a><%= link_to '145', "https://dl.dropboxusercontent.com/u/61981544/145.pdf" %></a>
    <a><%= link_to '152', "https://dl.dropboxusercontent.com/u/61981544/152.pdf" %></a>
    <a><%= link_to '160', "https://dl.dropboxusercontent.com/u/61981544/160.pdf" %></a>
    <a><%= link_to '170', "https://dl.dropboxusercontent.com/u/61981544/170.pdf" %></a>
    <a><%= link_to '182', "https://dl.dropboxusercontent.com/u/61981544/182.pdf" %></a>
    <a><%= link_to '195', "https://dl.dropboxusercontent.com/u/61981544/195.pdf" %></a>
    <a><%= link_to '220', "https://dl.dropboxusercontent.com/u/61981544/220.pdf" %></a>
    <a><%= link_to '285', "https://dl.dropboxusercontent.com/u/61981544/285.pdf" %></a>

     <a><%= link_to "Team Scores", "http://msjwrestlingtournament.com/Results/MSJ2014%20Places.pdf" %></a>

</div>
</div>