<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59923417-1', 'auto');
  ga('send', 'pageview');
  ga('create', 'UA-59926199-1', 'auto');
  ga('send', 'pageview');
</script>

<br><br>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/wrestling15.jpg", alt="...">
    </div>

 <div class="item">
      <img src="/assets/ncspic9.jpg", alt="...">
      <div class="carousel-caption">WINDSOR<br>2014 - NCS CHAMPIONS<br></div>
    </div>

     <div class="item">
      <img src="/assets/ncspic10.jpg", alt="...">
      <div class="carousel-caption">DE LA SALLE<br>2015 - NCS DUAL MEET CHAMPIONS</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic1.jpg", alt="...">
      <div class="carousel-caption">PJ KLEE / Cardinal Newman<br>2014 - NCS CHAMPION<br>CIF STATE RUNNER UP<br>152 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic3.jpg" alt="...">
      <div class="carousel-caption">CLAYTON HARTWELL / James Logan<br>2014 - NCS Champion / 4th CIF State - 195 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic5.jpg" alt="...">
      <div class="carousel-caption">TOMMY YOZZO / Amador<br>2014 - NCS Runner Up / 7th CIF State - 132 lbs </div>
    </div>

    <div class="item">
      <img src="/assets/ncspic4.jpg" alt="...">
      <div class="carousel-caption">JACOB DONATO / James Logan<br>2014 - NCS Champion / 4th CIF State - 120 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic8.jpg" alt="...">
      <div class="carousel-caption">PABLO GONZALEZ / Ukiah<br>2014 - NCS Champion / 4th CIF State - 285 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic6.jpg" alt="...">
      <div class="carousel-caption">JACOB MACALOLOOY / James Logan<br>2014 - NCS Champion / 7th CIF State - 138 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic2.jpg" alt="...">
      <div class="carousel-caption">NATHAN MORRIS / Redowood<br>2014 - NCS Champion / 6th CIF STATE - 182 lbs</div>
    </div>

    <div class="item">
      <img src="/assets/ncspic7.jpg" alt="...">
      <div class="carousel-caption">QUENTIN WRIGHT / Alhambra<br>2014 - NCS Champion / 7th CIF State - 220 lbs</div>
    </div>



  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

  </a>
</div> <!-- Carousel --><br><br>

  <div class="ncs-brackets">
    <a><%= link_to '2015 SEEDS', information_seeds_path %></a><br><br>

    <a><%= link_to '2014 BRACKETS / Team Scores & Placers', information_brackets_2014_path %></a>
  </div>

<div class="container">
  <div class="brackets">
    <div id="nav">
<!--       <a><%= link_to 'ALL BRACKETS', "https://dl.dropboxusercontent.com/u/61981544/all.pdf" %></a>
      <a><%= link_to '106', "https://dl.dropboxusercontent.com/u/61981544/106.pdf" %></a>
      <a><%= link_to '113', "https://dl.dropboxusercontent.com/u/61981544/113.pdf" %></a>
      <a><%= link_to '120', "https://dl.dropboxusercontent.com/u/61981544/120.pdf" %></a>
      <a><%= link_to '126', "https://dl.dropboxusercontent.com/u/61981544/126.pdf" %></a>
      <a><%= link_to '132', "https://dl.dropboxusercontent.com/u/61981544/132.pdf" %></a>
      <a><%= link_to '138', "https://dl.dropboxusercontent.com/u/61981544/138.pdf" %></a>
      <a><%= link_to '145', "https://dl.dropboxusercontent.com/u/61981544/145.pdf" %></a>
      <a><%= link_to '152', "https://dl.dropboxusercontent.com/u/61981544/152.pdf" %></a>
      <a><%= link_to '160', "https://dl.dropboxusercontent.com/u/61981544/160.pdf" %></a>
      <a><%= link_to '170', "https://dl.dropboxusercontent.com/u/61981544/170.pdf" %></a>
      <a><%= link_to '182', "https://dl.dropboxusercontent.com/u/61981544/182.pdf" %></a>
      <a><%= link_to '195', "https://dl.dropboxusercontent.com/u/61981544/195.pdf" %></a>
      <a><%= link_to '220', "https://dl.dropboxusercontent.com/u/61981544/220.pdf" %></a>
      <a><%= link_to '285', "https://dl.dropboxusercontent.com/u/61981544/285.pdf" %></a>

       <a><%= link_to "Team Scores & Placers", "https://dl.dropboxusercontent.com/u/61981544/team.pdf" %></a>

 -->


    </div>
  </div>
</div>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
           <img class="img-circle" src="/assets/ciflogo.jpg" alt="cif logo" style="width: 140px; height: 140px;">

          <p><br>The CIF was founded in 1914 and is broken down into 10 sections.  It governs 1,514 schools across the state of California.  California is one of the few remaining states that hosts a single state championship for wrestling.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="/assets/ncslogo.jpg" alt="ncs logo" style="width: 140px; height: 140px;">
          <br>
          <p><br>NCS is home to 171 member schools from the eastern portion of San Francisco Bay Area, up along the northern coast of the state of California, from Fremont in the south to Crescent City in the north.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="/assets/warriors.jpg" alt="wrestlers are warriors logo" style="width: 140px; height: 140px;"><br>

          <p><br>"Wrestlers are Warriors" has been capturing some of our section's finest wrestling moments for years.  They supplied us with all of the feature photos on the cover page.  They are truly a gift to our wrestling community.</p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
