<br><br>
<div class="border-wrestler-div">
  <% modal ||= false %>
  <% remote = modal ? true : false %>
    <%= form_for(@wrestler, remote: remote, html: { role: :form, 'data-model' => 'wrestler'}) do |f| %>
      <% if @wrestler.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wrestler.errors.count, "error") %> prohibited this wrestler from being saved:</h2>

          <ul>
          <% @wrestler.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
          <div class="form-group">
            <%= f.label :weight, class: 'col-sm-2 control-label' %>
            <div class="col-sm-4">
                <%= f.collection_select :weight, ['106', '113', '120', '126', '132', '138', '145', '152', '160', '170', '182', '195', '220', '285'], :to_s, :to_s, :include_blank => true %>
            </div>


            <%= f.label :league_place, "League Place", class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.collection_select :league_place, ['1', '2', '3', '4/Alt 1', '5/Alt 2'], :to_s, :to_s, :include_blank => true%>
          </div>
            <br><br>
          </div>
        </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :first, class: 'col-sm-2 control-label' %>
            <div class="col-sm-4">
              <%= f.text_field :first_name, class: 'form-control' %><br>
            </div>
          <%= f.label :last, class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.text_field :last_name, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :school, class: 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <% if @wrestler.league == "BAC" %>
              <%= f.collection_select :school, ['Athenian', 'Ca Schl Deaf', 'John Swett', 'Lick-Wilmerding', 'Liv Vly Charter', 'St. Pat - St. Vin', 'Stuart Hall'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "BVAL" %>
              <%= f.collection_select :school, ['Antioch', 'Deer Valley', 'Freedom', 'Heritage', 'Liberty', 'Pittsburg'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "CMC" %>
              <%= f.collection_select :school, ['Archbishop Hanna', 'Clear Lake', 'Fort Bragg', 'Kelseyville', 'Lower Lake', 'Middletown', 'Point Arena', 'St. Helena', 'Technology', 'Upper Lake', 'Willits'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "DFAL" %>
              <%= f.collection_select :school, ['Acalanes', 'Alhambra', 'Campolindo', 'Dougherty Valley', 'Dublin', 'Las Lomas', 'Miramonte'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "DVAL" %>
              <%= f.collection_select :school, ['Berean Christian', 'Clayton Valley', 'College Park', 'Concord', 'Mt. Diablo', 'Northgate', 'Ygnacio Valley'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "EBAL" %>
              <%= f.collection_select :school, ['Amador Valley', 'California', 'De La Salle', 'Foothill', 'Granada', 'Livermore', 'Monte Vista', 'San Ramon'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "HDNL" %>
              <%= f.collection_select :school, ['Arcata', 'Del Norte', 'Eureka', 'Fortuna', 'Hoopa', 'McKinleyville', 'South Fork'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "MCAL" %>
              <%= f.collection_select :school, ['Justin Sienna', 'Marin Catholic', 'Novato', 'Redwood', 'San Marin', 'San Rafael', 'Sir Francis Drake', 'Tamalpais', 'Terra Linda'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "MVAL" %>
              <%= f.collection_select :school, ['American', 'Irvington', 'J F Kennedy', 'James Logan', 'Mission San Jose', 'Newark Memorial', 'Washington'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "NBL" %>
              <%= f.collection_select :school, ['Cardinal Newman', 'Casa Grande', 'Maria Carrillo', 'Montgoery', 'Rancho Cotate', 'Santa Rosa', 'Ukiah', 'Windsor'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "SCL" %>
              <%= f.collection_select :school, ['Analy', 'El Molino', 'Elsie Allen', 'Healdsburg', 'Petaluma', 'Piner', 'Sonoma Valley'], :to_s, :to_s, :include_blank => true%>
            <% elsif @wrestler.league == "WACC" %>
              <%= f.collection_select :school, ['Albany', 'Arroyo', 'Berkeley', 'Castro Valley', 'Hayward', 'Mt. Eden', 'San Leandro', 'San Lorenzo'], :to_s, :to_s, :include_blank => true%>
            <% end %>
          </div>
        </div><br>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :grade, "Grade (9-12)", class: 'col-sm-2 control-label' %>
            <div class="col-sm-4">
              <%= f.collection_select :grade, ['9', '10', '11', '12'], :to_s, :to_s %>
            </div>
          <%= f.label :wins, "W", class: 'col-sm-1 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :wins, class: 'form-control' %>
          </div>
          <%= f.label :losses, "L", class: 'col-sm-1 control-label' %>
          <div class="col-sm-2">
            <%= f.text_field :losses, class: 'form-control' %><br>
          </div>
        </div>
      </div>

      <% if current_user.admin? %>
        <div class="row">
          <div class="form-group">
            <%= f.label :seed, class: 'col-sm-2 control-label' %>
              <div class="col-sm-4">
                <%= f.collection_select :seed, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14'], :to_s, :to_s %>
              </div>
          </div>
        </div><br>
      <% end %>


      <div class="form-group">
        <%= f.label :comments, "Notable Wins", class: 'control-label' %><br>
        <%= f.text_area :comments,  class: 'form-control' %>
        <span class="help-block"></span>
      </div>

      <div class="form-actions">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div><br>
      If the form doesn't save, check to make sure you don't have a duplicate weight and league place!<br><br>
    <% end %>
  </div>
</div>