<tr>
  <td><%= @wrestler.first_name %></td><br>
  <td><%= @wrestler.last_name %></td><br>
  <td><%= @wrestler.weight %></td><br>
  <td><%= @wrestler.wins %></td><br>
  <td><%= @wrestler.losses %></td><br>
  <td><%= @wrestler.section_place %></td><br>
  <td><%= @wrestler.state_place %></td><br>
  <td><%= @wrestler.tourney1_place %></td><br>
  <td><%= @wrestler.tourney2_place %></td><br>
  <td><%= @wrestler.tourney3_place %></td><br>
  <td><%= @wrestler.tourney4_place %></td><br>
  <td><%= @wrestler.tourney5_place %></td><br>
  <td><%= @wrestler.tourney6_place %></td><br>
  <td><%= @wrestler.tourney7_place %></td><br>
  <td><%= @wrestler.tourney8_place %></td><br>
  <td><%= link_to 'View Wrestler', team_wrestler_path(wrestler)%></td>
  <td><%= link_to 'Edit', edit_team_wrestler_path(wrestler)%></td>
  <td><%= link_to 'Delete', wrestler, method: "delete", :data => {:confirm => 'Are you sure?'} %></td>
  </td>
</tr>